{% args local_list, convo, this_device_addr %}

{% include 'base_header.html' %}
<style>



table {
    width: 100%;
    color: white;
    border: 1px solid;
}

form {
  overflow: hidden;
}
input {
  float: right;
  clear: both;
}
</style>



<body>
<h1>Message_Hist</h1>
<div class "tableFixHead">
<table>
<thead>
<tr>
<th>Time</th>
<th>{{convo}}</th>
<th>You={{ this_device_addr }}</th>
</tr>
</thead>
<tbody>

{% for list in local_list %}
        <tr>
        <td class = "time_left">{{ list[0] }} </td>
        <td class = "col_left">{{ list[3] }}</td>
        <td class = "col_right">{{ list[4] }} </td>
        </tr>
{% endfor %}
</tbody>
</table>
</div>

<form method="POST", onsubmit="getUnixTime()">
<input type="text" id="textbox" name="textbox" style="width: 100%; max-width: 100%; rows="4" class="cursor-right"/>
<input type ="hidden" id="unixTime", name="unixTime"/><br>
<input type="submit" name="submit"/>
</form>

<script>
function getUnixTime() { 
    var inst = Math.round((new Date()).getTime() / 1000);
    document.getElementById("unixTime").value = inst;
    }
</script>

</body>
</html>

