{% args local_list, convo, this_device_addr %}

{% include 'base_header.html' %}
<style>



table {
    width: 100%;
    color: white;
    border: 1px solid;
}


.bottom_line {
    width:device-width;
    padding:0px;
    height:8vh;
}

.bottom_line #send{
    display:inline-block;
    float: right;
    width:10vw;
    padding:0px;
    height:10vh;
    background-color: blue;
}

.bottom_line #textbox{
    display:inline-block;
    float: left;
    width:85vw;
    padding:0px;
    height:10vh;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color:#101010;
}

.scroll_window {
    width:device-width;
    height: 70vh;
    overflow:auto;
    display: flex;
}

input::placeholder {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.5;
    color: #606060;
}

</style>



<body>
<div class="scroll_window">
<table>
<thead>
<tr>
<th>Time</th>
<th>{{convo}}</th>
<th>You={{ this_device_addr }}</th>
</tr>
</thead>
<tbody>

{% for list in local_list %}
        <tr>
        <td class = "time_left">{{ list[0] }} </td>
        {% if list[3] is not "" %}
            <td class = "col_left">{{ list[3] }}</td>
            {% else %}
            <td class = "col_blank">{{ list[3] }}</td>
        {% endif %}
        {% if list[4] is not "" %}
            <td class = "col_right">{{ list[4] }} </td>
            {% else %}
            <td class = "col_blank">{{ list[4] }} </td>
        {% endif %}    
        </tr>
{% endfor %}
</tbody>
</table>
</div>
<form method="POST", onsubmit="getUnixTime()">
<div class="bottom_line">
<input type="text" id="textbox" name="textbox" placeholder="type message here"/>
<input type="submit" name="submit" id="send"/>
</div>
<input type ="hidden" id="unixTime", name="unixTime"/>
</form>
<script>
function getUnixTime() { 
    var inst = Math.round((new Date()).getTime() / 1000);
    document.getElementById("unixTime").value = inst;
    }
</script>

</body>
</html>

